<!doctype html>
<html>
  <head>
    <title> Bijuteria </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/mvp.css">
  </head>

  <body>
    <%= yield %>
  </body>

</html>
