<p>Dar oi para quem?<p>
<input type='text' id='pessoa1'/>
<input type='text' id='pessoa2'/>
<input type='text' id='pessoa3'/>
<button onclick='darOi()'> Enviar!</button>
<p id='target'></small>Seu 'Oi' vai aparecer aqui!<small></p>


<script>
function darOi() {
    let argumentos = [
        document.getElementById('pessoa1').value,
        document.getElementById('pessoa2').value,
        document.getElementById('pessoa3').value
    ]

    let callback = function (resposta) {
        if (resposta.status == 0) {
                target = document.getElementById('target');
	            target.innerHTML = resposta.resposta;
            }
        else {
            console.log('Erro ' + resposta.status + ' com mensagem: "' + resposta.erro + '"')
        }
    }

    Biju.oiMundo(argumentos, callback)
}
</script>
